
@media (max-width: 1680px) {
    .sellos2{
        visibility: collapse;
    }
}
@media (max-width: 480px) {

    .img-index{
        max-width: 90%;
        height: auto;
      }
     div.sellos1{
        visibility: collapse;
    }
    .sellos2{
        visibility: visible ;
    }
  }
/*RESET*/


*{
    margin: 0;
    padding: 0
}

/*estilos generales*/
 
body{
    /*se utiliza para colores generales, tipo de letra etc*/
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-size:cover;
    margin: 0;
    padding: 0;
     
}
header{
    background-color: rgb(160, 248, 160);
    position: -webkit-sticky;
    padding-left: 5%;
    padding-right: 5%;
    top: 00px;
}
header div img{
    width: 100px;
    height: 110px;
}

header nav ul{
    list-style: none;
}

header nav ul li{
    display:inline-block;
background-color: rgb(160, 248, 160);
margin-left:70px;
padding: 5px;
}

header nav ul li a{
    text-decoration: none;
    color: black;
}
.homep{
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}

.parrafo{
    background-color: rgb(160, 248, 160);
    width: fit-content;
    height: fit-content;
    margin: 20px;



}
main.productos h1{
    text-align: center;
    background-color: floralwhite;
    margin: 20px;
    padding: 20px;
}
main.productos h2.tit{
    text-align: center;
    background-color: rgb(160, 248, 160);
    margin: 10px;
    padding: 5px;
}
main.productos h4.tit{
    text-align: center;
    background-color: rgb(160, 248, 160);
    margin: 10px;
    padding: 10px;
}
.containercard1{
    margin-left: 7%;
    flex-wrap: wrap;
}
.containercard2{
    margin-left: 1.5%;
    flex-wrap: wrap;
}
.primer-contenedor{
    display: flex;
    flex-direction: column;
    height: 50vh;
}

 main.index h1{
    text-align: center;
    background-color: floralwhite;
    
 }
 main.index aside{
    text-align: center;
    display: inline-block;
    flex: 30px;
    background-color: rgb(160, 248, 160) ;
   
 }
main.index section{
    text-align: center;
    display: inline-block;
    flex:50% ;
    background-color: floralwhite;
    margin-bottom: 10px;
    margin-left: 15%;
    margin-right: 15%;
    padding: 70px;
}
.img-index img{
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 35px;
    border-radius: 2vh;
    box-shadow: 2vh 2vh rgba(19, 18, 18, 0.5);
}
 main.redes h1{
    text-align: center;
    background-color: floralwhite;
    margin: 20px;
    padding: 20px; 
 }
 main.redes a{
    text-align: center;
    text-decoration: none;
    display: block;
    background-color: rgb(160, 248, 160);
    margin: 20px;
    padding: 20px; 
 }
 main.redes h2{
    text-align: center;
    background-color: floralwhite;
    margin: 20px;
    padding: 20px; 
 }


    main.contactanos h1{
    text-align: center;
    margin: 20px;
    padding: 20px;
 }

    main.contactanos h2{
    text-align: center;
    background-color: rgb(141, 245, 141);
    margin: 10px;
    padding: 5px;
}
    main.contactanos div.mapa{
    display: flex;
    justify-content:center ;
}

main div.sellos1{
    display: flex;
    justify-content: space-around;
    align-content: center;
    
}
main div.sellos1 img{
    display: inline-block;
    width: 25vh;
    height: auto;
   
    flex-wrap: wrap;
}
main div.sellos2{
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.sellos2 img{
    width: 10vh;
    height: auto;
    padding: 5px;
    flex-wrap: wrap;
}

 footer{
    text-align: center;
    background-color: rgb(141, 245, 141);
    border-bottom: 0;
    margin-top: 5px;
    padding: 10px;
 }

 .footer-container{
    display: block;
    justify-content: space-around;
    align-content: center;
 }
 .footer-text-container{
    display: flex;
    justify-content: center;
    align-items: center;
 }